.input {
  padding: 11px 16px;
  border: 2px solid var(--primary-color);
  border-radius: 5px;
  min-width: 100%;
  color: var(--primary-color);
}
.input::placeholder {
  color: var(--input-placeholder-color);
}
.input:focus {
  outline: none;
  border: 2px solid var(--input-placeholder-color);
}
.pt-40 {
  padding-top: 40px;
}
